.about {
    background-color: #f5f5f5;
    max-width: 100%; 
    max-height: auto; //important, this makes it only take up the full viewport (not the entire webpage)
    padding-bottom: 5em;
    z-index: 1;
  
    h1{
        text-align: center;
        padding: 1em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
   
}

.coursework{
    padding-left: 0px;
    margin-left: 20px;
    display:list-item;
    list-style-type: circle;
}

.logo {
    width: 90px;
    padding-bottom: 25px;
    height: auto;
}

