@import "~bootstrap/scss/bootstrap";
.home {
  
    width: 100%;
    height: 100vh;
    background-color: #f8efef;
    position: relative;
    z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;


    
    .home__content {
        margin-left: 3.445rem;


    }
	.home__container {
        display:flex;
        height: 50%;
		width: 45%;
        align-items: center;
        justify-content: center;
        position: relative;
		background-color: #191B1F;
		opacity: 0.95;
		border-radius: 25px;
		z-index: -1;
        
    }

    .text{
        line-height: 35px;
	

        p{
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 22px;
        }
		.email-text{
			color: rgb(255, 255, 255);
			font-size: 12px;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: lighter;
		}

        h1 {
			
            font-size: 65px;
            color: rgb(255, 255, 255);
        }
    }

 


.home__img {
	width: 350px;
	display:flex;
	justify-content: center;
	align-items: center;
	position: relative;

    clip-path: circle(45% at 50% 45%); // to make your portrait.png file cropped to circle
}
  

// Media Query for when decreasing screen size to tablet level (wider width)
@media (max-width: 1200px) {
    .text{
        line-height: 30px;
        white-space: nowrap;
    }

    p {
        font-size: 14px;
    }

    h1{
        font-size: 30px;
    }
}



// Media query for when our width is about smartphone level so we have the portrait icon move to above the text
@media (max-width: 600px) {

    .home__content{
        margin-left: 0;
    }
    .home__container{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .home__img img {
        width: 150px;
    }
    
    .text{
        h1{
            font-size: 23px;
        }

        p{
            font-size: 11px;
        }
    }

    
}

// ------------------------------Scroll arrow icon-----------------------------------------------

.arrowDown{

	display: flex;
	position: relative;
	right: 44.5%;
	top: 80%;
	align-items: center;
	justify-content: center;
	cursor: pointer;


	
		-moz-animation: bounce 4s infinite;
		-webkit-animation: bounce 4s infinite;
		animation: bounce 4s infinite;
	  
	  
	  @keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
		  transform: translateY(0);
		}
		40% {
		  transform: translateY(-30px);
		}
		60% {
		  transform: translateY(-15px);
		}
	  }
}

}

$color_1: transparent;
$color_2: #eee;
$background-color_1: #25d8d7;
$background-color_2: #222;
$background-color_3: transparent;

/* ============================Resume and Portfolio Buttons=====================================================*/
.noselect {
	user-select: none;
	color: $color_1;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	margin: 0 3px;
	cursor: pointer;
	border: none;
	border-radius: 25px;
	background-color: $background-color_1;
	background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
	transition: 500ms;
	&:hover {
		&::after {
			font-size: 15px;
			background-color: $background-color_3;
		}
		transform: scale(0.9);
	}
	&:focus {
		outline: none;
	}
}
#resume-button {
	&::after {
        z-index: 1000;
		width: 143px;
		height: 43px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		content: 'View Résumé';
		font-size: 15px;
		color: $color_2;
		border-radius: 25px;
		background-color: $background-color_2;
		transition: 500ms;
	}
}


.modal-backdrop {
    // display: flex;
    z-index: 1040 !important;
	
}

.modal-header{
	align-items: center;
	justify-content: center;
	height: 6%;

}
.modal-title{
	text-align: center;
	align-items: center;
	justify-content: center;
}

.modal-content {
    margin: 2px auto;
	border: 5px solid rgb(0, 140, 255);
	width: 40vw;
	height: 110vh;
    z-index: 1100 !important;
}



#portfolio-button {
	&::after {
		width: 143px;
		height: 43px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		content: 'My Portfolio';
		font-size: 15px;
		color: $color_2;
		border-radius: 25px;
		background-color: $background-color_2;
		transition: 500ms;
	}
}







/* =========================Social Media Icons================================================= */



$color_1: #666;
$color_2: #456cba;
$color_3: #26a4f2;
$color_4: #e23670;

ul#social-icons {
	display: flex;
    align-items: center;
    justify-items: center;
	padding: 0%;
	li {
		position: relative;
		display: block;
		color: $color_1;
		font-size: 30px;
		height: 60px;
		width: 60px;
		background: #171515;
		line-height: 55px;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
		transition: .5s;
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: inherit;
			width: inherit;
			border-radius: 50%;
			transform: scale(.9);
			z-index: -1;
			transition: .5s;
		}
		&:hover {
			&:before {
				filter: blur(3px);
				transform: scale(1.2);
			}
		}
	}
	li#linkedin {
		&:before {
			background: #4267B2;
		}
		&:hover {
			&:before {
				box-shadow: 0 0 15px #4267B2;
			}
			color: $color_2;
			box-shadow: 0 0 15px #4267B2;
			text-shadow: 0 0 15px #4267B2;
		}
	}
	li#github {
		&:before {
			background: #1DA1F2;
		}
		&:hover {
			&:before {
				box-shadow: 0 0 15px #1DA1F2;
			}
			color: $color_3;
			box-shadow: 0 0 15px #1DA1F2;
			text-shadow: 0 0 15px #1DA1F2;
		}
	}
	li#instagram {
		&:before {
			
			background: #E1306C;
		}
		&:hover {
			&:before {
				box-shadow: 0 0 15px #E1306C;
			}
			color: $color_4;
			box-shadow: 0 0 15px #E1306C;
			text-shadow: 0 0 15px #E1306C;
		}
	}
}


